beautifulsoup4==4.11.1
numpy
pandas
selenium>=4
Unidecode==1.3.4
webdriver_manager
configparser
xlsxwriter
pylint
autopep8
google-api-python-client
google-auth-httplib2
google-auth-oauthlib